:root {
  --primary-color: #1e90ff; /* Primary blue color */
  --secondary-color: #2c3e50; /* Dark gray-blue for contrast */
  --accent-color: #f39c12; /* Accent color, a bright orange */
  --background-color: #f4f4f9; /* Light background */
  --text-color: #333; /* Main text color */
  --bot-message-color: #eaf2fb; /* Light blue for bot messages */
  --user-message-color: var(--primary-color); /* Use primary color */
  --button-color: var(--accent-color);
}

.App {
  font-family: "Arial", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/background-2.jpg"); /* Use your background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
